<nav class="navbar navbar-light bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Brand</a>
  </div>

    <ul class="navbar">
        {% for a in nav %}
        <li><a href="{{a.href}}">{{a.name}}</a></li>
        {% endfor %}
    </ul>
</nav>